.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 35px;
  border-left: solid 1px #ff0000;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #ff0000;
  }

  &:first-child {
    border-left: none;
  }

  &.today {
    background: #ff0000;
  }

  &.different-month {
    color: #ff0000;
  }

  &.selected {
    background: #ff0000;
    color: #ff0000;
  }
}
