#checkbox_and_prefocus {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: 30px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  background-color: #1c6ea4;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
}

#checkbox {
  margin-top: 7px;
  grid-area: 1 / 45 / 2 / 50;
}

#prefocus {
  display: flex;
  align-items: center;
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 25px;
  grid-area: 1 / 50 / 2 / 100;
}
