.todoitem {
  //position: relative;
  margin-bottom: 0.25rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-top: 1px solid #ccc;

  &.done {
    .form-check-label {
      color: #999;
      text-decoration: line-through;
    }
  }

  &.highlight {
    border-color: #6279fd;
    background-color: #2f8990;

    &:last-child {
      border-color: #294dff;
    }
  }

  &:last-child {
    border-bottom: 1px solid #ccc;
  }

  .form-check-label {
    width: 100%;

    .form-check-input {
      margin-right: 1rem;
    }
  }
}

#deleteItem {
  color: white;
  background-color: #475bdb;
  border-radius: 6px;
  margin-left: 5px;
}

#stashItem {
  color: white;
  background-color: #06782d;
  border-radius: 6px;
}
